<ion-header>
  <ion-toolbar>
  <ion-row class="header">
    <ion-col class="ion-text-center">
      <ion-icon name="chevron-back-outline" [routerLink]="['/tabs/tab4']" class="ion-float-left"></ion-icon>
      <h1>{{'Profile.createnewpassword' | translate }}</h1>
    </ion-col>
  </ion-row>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <!-- Name Input -->
    <ion-row class="topbottom_space">
      <ion-col size="12">
        <label class="input-label">{{'Profile.oldpassword' | translate }}</label>
        <div class="input-container">
         
          <ion-input type="password" value="Smith Mate" class="custom-input" placeholder="Enter old password"></ion-input>
        </div>
      </ion-col>
    </ion-row>

    <!-- Email Input -->
    <ion-row class="topbottom_space">
      <ion-col size="12">
        <label class="input-label">{{'Profile.newpassword' | translate }}</label>
        <div class="input-container">
          
          <ion-input type="password" class="custom-input" placeholder="Enter new password"></ion-input>
        </div>
      </ion-col>
    </ion-row>

    <!-- Mobile Number Input -->
    <ion-row class="topbottom_space">
      <ion-col size="12">
        <label class="input-label">{{'Profile.confirmpassword' | translate }}</label>
        <div class="input-container">
          
          <ion-input type="password"  class="custom-input" placeholder="Enter confirm password"></ion-input>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <ion-button color="none">Update</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>