<ion-header>
  <ion-toolbar>
  <ion-row class="header">
    <ion-col class="ion-text-center">
      <ion-icon name="chevron-back-outline" [routerLink]="['/tabs/tab4']" class="ion-float-left"></ion-icon>
      <h1>{{'Profile.createnewpassword' | translate }}</h1>
    </ion-col>
  </ion-row>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <!-- Name Input -->
    <form class="changepassword">
      <!-- Old Password -->
      <ion-row class="topbottom_space">
        <ion-col size="12">
          <label class="input-label">{{ 'Profile.currentpassword' | translate }}</label>
          <div class="input-container">
            <ion-input [type]="showOldPassword ? 'text' : 'password'" [(ngModel)]="oldPassword" name="oldPassword"
              class="custom-input" placeholder="Enter current password"></ion-input>
            <ion-icon [name]="showOldPassword ? 'eye-off' : 'eye'" (click)="togglePasswordVisibility('old')"
              class="eye-icon"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    
      <!-- New Password -->
      <ion-row class="topbottom_space">
        <ion-col size="12">
          <label class="input-label">{{ 'Profile.newpassword' | translate }}</label>
          <div class="input-container">
            <ion-input [type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="newPassword" name="newPassword"
              class="custom-input" placeholder="Enter new password"></ion-input>
            <ion-icon [name]="showNewPassword ? 'eye-off' : 'eye'" (click)="togglePasswordVisibility('new')"
              class="eye-icon"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    
      <!-- Confirm Password -->
      <ion-row class="topbottom_space">
        <ion-col size="12">
          <label class="input-label">{{ 'Profile.confirmpassword' | translate }}</label>
          <div class="input-container">
            <ion-input [type]="showConfirmPassword ? 'text' : 'password'" [(ngModel)]="confirmPassword"
              name="confirmPassword" class="custom-input" placeholder="Enter confirm password"></ion-input>
            <ion-icon [name]="showConfirmPassword ? 'eye-off' : 'eye'" (click)="togglePasswordVisibility('confirm')"
              class="eye-icon"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-button (click)="changePassword()" color="primary">Update</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>