ion-header{
  box-shadow: none;
  padding: 24px 6px 10px 6px;
}
ion-toolbar {
  --background: transparent;
  --border-width: 0px !important;
}
.header h1{
    font-size: 18px;
    margin: 0px;
    font-weight: 600;
}
.header ion-col{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header ion-col ion-icon{
    zoom: 1.6;
}

.product-card {
    width: 100%;
    max-width: 172px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: left;
    height: 100%;
  }
  
  .product-card ion-card-header {
    position: relative;
    padding: 0;
    background: #c6c6c629;
    margin: 10px;
    border-radius: 6px;
  }
  .product-image{
    width: 58px;
    height: 58px;
    object-fit: contain;
    margin: 10px auto 10px;
}
  
  .favorite-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 20px;
    color: #888;
    cursor: pointer;
  }
  
  .favorite-icon:hover {
    color: #ff5a5f;
  }
  
  .product-name {
    font-size: 11px;
    font-weight: 600;
    margin: 10px 0 4px;
    line-height: 1.2;
    color: #333;
  }
  
  .product-quantity {
    font-size: 12px;
    color: #666;
    margin-bottom: 6px;

  }
  
  .price-container {
    // display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin: 10px 0;
  }
  .price_value{
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: end;

}
  .current-price {
    font-size: 16px;
    font-weight: bold;
    color: #28a745;
  }
  
  .old-price {
    font-size: 14px;
    text-decoration: line-through;
    color: #999;
  }
  
  ion-button {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--ion-color-primary);
    border-radius: 6px;
    height: 40px;
  }
  .product-card ion-card-content{
    padding-inline-start : 10px;
    padding-inline-end : 10px;
    padding-bottom: 10px;
  }
//   .best_deal_section{
//     padding: 16px 0px;
//   }
  swiper-slide{
    width: 198px !important;
  }
  .item_card ion-card-content{
    padding: 8px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}
.item_card ion-card-content p{
    font-size: clamp(12px, 3.2vw, 16px);
    font-weight: 500;
    color: #000;
}
ion-card {
    border-radius: 8px;
    text-align: center;
    margin: 0px;
    box-shadow: none;
  }
.item_card.active ion-img {
  background-color: #02b8ad33;
  border: 1px solid var(--ion-color-primary);
}
.item_card ion-img {
  height: 60px;
  padding: 8px;
  background-color: #c6c6c629;
  /* Default background */
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}
  .category_section{
    overflow-y: scroll;
    height: 68vh;
  }
  .item_scroll {
    overflow-y: scroll;
    height: 68vh; /* Default height */
  }
  
  @media (min-width: 366px) {
    .category_section {
      overflow-y: scroll;
      height: 76vh;
    }
    
    .item_scroll {
      overflow-y: scroll;
      height: 76vh;
    }
  }
  
  @media (min-width: 344px) {
    .category_section {
      overflow-y: scroll;
      height: 76vh;
    }
    
    .item_scroll {
      overflow-y: scroll;
      height: 76vh;
    }
  }
  
  /* Specific rule for 375px width */
  @media (width: 375px) {
    .category_section {
      overflow-y: scroll;
      height: 72vh;
    }
    .item_scroll {
      height: 72vh; /* Height for 375px width */
    }
  }
  .category_section_full{
    overflow-y: scroll;
    height: 83vh;
  }
  .item_scroll_full {
    overflow-y: scroll;
    height: 83vh; /* Default height */
  }
  
  @media (min-width: 366px) {
    .category_section_full {
      overflow-y: scroll;
      height: 85vh;
    }
    
    .item_scroll_full {
      overflow-y: scroll;
      height: 85vh;
    }
  }
  
  @media (min-width: 344px) {
    .category_section_full {
      overflow-y: scroll;
      height: 88vh;
    }
    
    .item_scroll_full {
      overflow-y: scroll;
      height: 88vh;
    }
  }
  
  /* Specific rule for 375px width */
  @media (width: 375px) {
    .category_section_full {
      overflow-y: scroll;
      height: 85vh;
    }
    .item_scroll_full {
      height: 85vh; /* Height for 375px width */
    }
  }
  
ion-footer{
  box-shadow: none;
}
.cart-summary-card {
  background-color: var(--ion-color-primary);
  border-radius: 15px;
  color: white;
  // padding: 10px;
  margin: 10px;
}

.cart-summary-card .align-center {
  align-items: center;
  gap: 10px;
  padding: 0px 10px;
}

.card_img img {
  height: 28px;
  width: auto;
  border-radius: 8px;
  margin: 0px auto 0px;
}

.item-count {
  font-size: 14px;
  margin: 0;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.view-cart-button {
  --color: white;
  font-weight: bold;
  padding: 0;
}

.card_img{
  background-color: #fff;
  border-radius: 10px;
}

.favorite-icon {
  font-size: 24px;
  color: grey;
  cursor: pointer;
}

.favorite-icon.active {
  color: var(--ion-color-primary);
}
.counter_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.counter_section .added_btn {
  margin-top: 0px !important;
  max-width: 45px;
  height: 40px;
  width: 45px;
  padding: 0px;
}

// .counter_section {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   gap: 5px;
 
// }

// .counter_section .added_btn {
//   max-width: 45px;
//   height: 40px;
//   width: 45px;
//   padding: 0px;
// }

.counter_section .added_btn:first-child {
  margin-left: 5px;
  /* Left align "-" button */
}

.counter_section .added_btn:last-child {
  margin-right: 5px;
  /* Right align "+" button */
}