<ion-header>
  <ion-toolbar>
  <ion-row class="header">
    <ion-col class="ion-text-center">
      <ion-icon name="chevron-back-outline" [routerLink]="['/tabs/tab4']" class="ion-float-left"></ion-icon>
      <h1>{{ 'WishList.wishlist' | translate }}</h1>
      <!-- <ion-icon name="search-outline" [routerLink]="['/search']"></ion-icon> -->
    </ion-col>
  </ion-row>
</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="best_deal_section">
      <ion-col size="6" class="align_center">
        <ion-card class="product-card">
          <ion-card-header>
            <ion-img class="product-image" src="assets/images/item5.png"></ion-img>
            <ion-icon name="heart" class="favorite-icon"></ion-icon>
          </ion-card-header>
        
          <ion-card-content>
            <h3 class="product-name">Surf Excel Easy Wash Detergent Power</h3>
            <p class="product-quantity">500 ml</p>
            <div class="price-container">
              <div class="price_div">
                <span class="current-price">{{ 'Currency.currency' | translate }}12</span>
                <span class="old-price">{{ 'Currency.currency' | translate }}14</span>
              </div>
              <div>
                <ion-button fill="solid" color="none" size="small" expand="block" [routerLink]="['/cart']">{{ 'ItemDetails.add' | translate }}</ion-button>
              </div>
              
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="align_center">
        <ion-card class="product-card">
          <ion-card-header>
            <ion-img class="product-image" src="assets/images/item5.png"></ion-img>
            <ion-icon name="heart" class="favorite-icon"></ion-icon>
          </ion-card-header>
        
          <ion-card-content>
            <h3 class="product-name">Surf Excel Easy Wash Detergent Power</h3>
            <p class="product-quantity">500 ml</p>
            <div class="price-container">
              <div class="price_div">
                <span class="current-price">{{ 'Currency.currency' | translate }}12</span>
                <span class="old-price">{{ 'Currency.currency' | translate }}14</span>
              </div>
            <div>
              <ion-button fill="solid" color="none" size="small" expand="block">{{ 'ItemDetails.add' | translate }}</ion-button>
            </div>
              
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="align_center">
        <ion-card class="product-card">
          <ion-card-header>
            <ion-img class="product-image" src="assets/images/item5.png"></ion-img>
            <ion-icon name="heart" class="favorite-icon"></ion-icon>
          </ion-card-header>
        
          <ion-card-content>
            <h3 class="product-name">Surf Excel Easy Wash Detergent Power</h3>
            <p class="product-quantity">500 ml</p>
            <div class="price-container">
              <div class="price_div">
                <span class="current-price">{{ 'Currency.currency' | translate }}12</span>
                <span class="old-price">{{ 'Currency.currency' | translate }}14</span>
              </div>
            <div>
              <ion-button fill="solid" color="none" size="small" expand="block" [routerLink]="['/cart']">{{ 'ItemDetails.add' | translate }}</ion-button>
            </div>
              
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="align_center">
        <ion-card class="product-card">
          <ion-card-header>
            <ion-img class="product-image" src="assets/images/item5.png"></ion-img>
            <ion-icon name="heart" class="favorite-icon"></ion-icon>
          </ion-card-header>
        
          <ion-card-content>
            <h3 class="product-name">Surf Excel Easy Wash Detergent Power</h3>
            <p class="product-quantity">500 ml</p>
            <div class="price-container">
              <div class="price_div">
                <span class="current-price">{{ 'Currency.currency' | translate }}12</span>
                <span class="old-price">{{ 'Currency.currency' | translate }}14</span>
              </div>
            <div>
              <ion-button fill="solid" color="none" size="small" expand="block" [routerLink]="['/cart']">{{ 'ItemDetails.add' | translate }}</ion-button>
            </div>
              
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
