<ion-header>
  <ion-toolbar>
  <ion-row class="header">
    <ion-col class="ion-text-center">
      <ion-icon name="chevron-back-outline" [routerLink]="['/tabs/tab1']" class="ion-float-left"></ion-icon>
      <h1>{{ 'Order.myorder' | translate }}</h1>
    </ion-col>
  </ion-row>
</ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid  *ngIf="this.orders.length > 0; else emptyOrder">
   
    <ion-row *ngFor="let order of orders">
      <ion-col class="order">
        <ion-card (click)="openOrder(order.id,order)">
          <ion-row class="order_details border_bottom justify-content-center align-items-center">
            <ion-col size="auto" class="order_img">
              <ion-img src="assets/images/ovation_icon.png"></ion-img>
            </ion-col>
            <ion-col class="order-info">
              <h1>#{{ order.orderId }}</h1>
              <p>{{order.address ? order.address : 'Address not found'}}</p>
              <p>{{ order.itemCount }} items</p>
            </ion-col>
          </ion-row>
          <ion-row class="border_bottom order-date">
            <ion-col class="ion-text-start">
              <p>{{ order.created_at | date: 'dd MMM yyyy, hh:mm a' }}</p>
            </ion-col>
            <ion-col size="auto" class="ion-text-end price">
             <p>{{ 'Currency.currency' | translate }}{{(+order.total + +order.tax) | number:'1.2-2' }}</p>
            </ion-col>
          </ion-row>
          <ion-row class="progress-bar-container">
            <ion-col class="step"
              [ngClass]="{'active': order.orderStatus == 'placed' || order.orderStatus == 'accepted' || order.orderStatus == 'shipped' || order.orderStatus == 'delivered'}">
              <div class="circle"></div>
              <p>Placed</p>
            </ion-col>
            <ion-col class="step"
              [ngClass]="{'active': order.orderStatus == 'accepted' || order.orderStatus == 'shipped' || order.orderStatus == 'delivered'}">
              <div class="circle"></div>
              <p>Accepted</p>
            </ion-col>
            <ion-col class="step" [ngClass]="{'active': order.orderStatus == 'shipped' || order.orderStatus == 'delivered'}">
              <div class="circle"></div>
              <p>Shipped</p>
            </ion-col>
            <ion-col class="step" [ngClass]="{'active': order.orderStatus == 'delivered'}">
              <div class="circle"></div>
              <p>Delivered</p>
            </ion-col>
          </ion-row>


          <!-- <ion-row>
            <ion-col class="order-status pending ion-text-end">
              <ion-chip>{{order.orderStatus}}</ion-chip>
            </ion-col>
          </ion-row> -->
          
        </ion-card>
      </ion-col>
    </ion-row>

    
  </ion-grid>
  <ng-template #emptyOrder>
    <ion-row class="empty-cart-container">
      <ion-col size="12" class="ion-text-center">
        <ion-img src="assets/images/empty_wishlist.png" class=" ion-text-center img"></ion-img>
        <h4>No order available.</h4>
        <ion-button expand="block" class=" ion-text-center home" [routerLink]="['/tabs/tab1']">Go to Home</ion-button>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>
<ion-footer *ngIf="cartCount > 0">
  <ion-card class="cart-summary-card" [routerLink]="['/cart']">
    <ion-grid class="cart_grid">
      <ion-row class="align-center" style="display: flex; flex-wrap: nowrap;">
        <ion-col size="auto" class="card_img">
          <img src="assets/images/ovation_icon.png" alt="Product" class="product-image" />
        </ion-col>
        <ion-col  class="ion-text-start">
          <p class="item-count">{{ cartCount }} Items</p>
          <p class="price">{{ 'Currency.currency' | translate }}{{orderTotal + tax  | number:'1.2-2'}}</p>
        </ion-col>
        <ion-col  class="ion-text-end" size="auto" class="view-cart">
          <ion-button fill="clear" class="view-cart-button">
            View Cart
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-footer>