<ion-content fullscreen scroll="true">
  <div class="div_align_center" >
    <ion-grid>
    
      <ion-row style="gap: 10px;">
        <ion-col size="12" class="ion-justify-center">
          <ion-img class=" ion-text-center img" src="assets/images/restoji_logo.svg"></ion-img>

        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <h1>Welcome Back</h1>
          <!-- <p>Log in to your account</p> -->
        </ion-col>
      </ion-row>
  
      <div class="form-div">
        <form  class="login-form" method="post">
          
            <ion-row>
              <ion-col>
                <ion-label>Email</ion-label>
                <div class="email-input">
                  <ion-input name="email" type="email" placeholder="Enter Your Email" class="input" required></ion-input>
                </div>
              </ion-col>
            </ion-row>
          
            <ion-row>
              <ion-col>
                <ion-label>Password</ion-label>
                <div class="pass-input">
                  
                  <ion-input name="password"  type="{{ showPassword ? 'text' : 'password' }}" placeholder="Enter Password" class="input"
                    required>
                  </ion-input>
                  <ion-icon    
                  [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
                  (click)="togglePassword()"
                  class="eye-icon"
                ></ion-icon>
                </div>
                  
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-lg="8" size-sm="12" offset-lg="2" class="ion-text-right">
                <span class="forgot_btn" [routerLink]="['/forgot-password']">{{ 'LOGIN.forgotpass' | translate }}</span>
                <!--  [routerLink]="['/home']" -->
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-lg="8" size-sm="12" offset-lg="2">
                <ion-button color="#927AD8" class="ion-margin-vertical sign_btn" type="submit" (click)="login()">
                  {{ 'LOGIN.login' | translate }}
                </ion-button>
                <!--  [routerLink]="['/home']" -->
              </ion-col>
            </ion-row>
          
        </form>
      </div>
    
      <ion-row class="ion-text-center signin-text">
        <ion-col>
        <span>{{ 'LOGIN.signinwith' | translate }} <a href="/registration">{{'REGISTER.signup' | translate}}</a></span>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>