<ion-content fullscreen scroll="true" class="background">
  <div class="div_align_center" >
    <ion-grid>
      <ion-row style="gap: 10px;">
        <ion-col size="12" class="ion-justify-center">
          <ion-img class=" ion-text-center img" src="assets/images/ovationLogo.jpg"></ion-img>

        </ion-col>
     
      </ion-row>
  
      <div class="form-div">
        <form  class="login-form" (ngSubmit)="login()">
          
            <ion-row>
              <ion-col>
                <ion-label>Email</ion-label>
                <div class="email-input">
                  <ion-input [(ngModel)]="email" name="email" type="email" placeholder="Enter Email" autocomplete="email"
                  class="input" required></ion-input>
                </div>
              </ion-col>
            </ion-row>
          
            <ion-row>
              <ion-col>
                <ion-label>Password</ion-label>
                <div class="pass-input">
                  <ion-input [(ngModel)]="password" name="password" type="{{ showPassword ? 'text' : 'password' }}"
                    placeholder="Enter Password" class="input" required autocomplete="current-password">
                  </ion-input>
                  <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" (click)="togglePassword()"
                    class="eye-icon"></ion-icon>
                </div>
                  
              </ion-col>
            </ion-row>
            <!-- <ion-row>
              <ion-col size-lg="8" size-sm="12" offset-lg="2" class="ion-text-right">
                <span class="forgot_btn" [routerLink]="['/forgot-password']">{{ 'LOGIN.forgotpass' | translate }}</span>
                
              </ion-col>
            </ion-row> -->
            <ion-row>
              <ion-col size-lg="8" size-sm="12" offset-lg="2">
                <ion-button expand="full" color="primary" class="ion-margin-vertical sign_btn" type="submit">
                  {{ 'LOGIN.login' | translate }}
                </ion-button>
                <!--  [routerLink]="['/home']" -->
              </ion-col>
            </ion-row>
          
        </form>
      </div>
    
      <ion-row class="ion-text-center signin-text">
        <ion-col>
        <span>{{ 'LOGIN.signinwith' | translate }} <a href="/registration">{{'REGISTER.signup' | translate}}</a></span>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>