<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Home Tab -->
    <ion-tab-button tab="tab1" href="/tabs/tab1"  [class.active-tab]="selectedTab === 'tab1'" (click)="setActiveTab('tab1')">
      <ion-icon name="home-outline" [class.active-tab]="selectedTab === 'tab2'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2" [class.active-tab]="selectedTab === 'tab2'" (click)="setActiveTab('tab2')">
      <ion-icon name="cube-outline" [class.active-tab]="selectedTab === 'tab2'"></ion-icon>
    </ion-tab-button>
    <!-- Shopping Bag Tab -->
    <ion-tab-button tab="tab3" href="/cart" [class.active-tab]="selectedTab === 'tab3'" (click)="setActiveTab('tab3')">
      <ion-icon name="heart-circle-outline" [class.active-tab]="selectedTab === 'tab3'"></ion-icon>
    </ion-tab-button>

    <!-- User Tab -->
    <ion-tab-button tab="tab4" href="/tabs/tab4" [class.active-tab]="selectedTab === 'tab4'" (click)="setActiveTab('tab4')">
      <ion-icon name="person-outline" [class.active-tab]="selectedTab === 'tab4'"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
