ion-tab-button {
  --background: var(--background);
  --color: var(--color);
}
ion-tab-bar{
  height : 60px !important;
  --background : #fff !important;
  --box-shadow: none;
  --border : none !important;
}
 
.tab-selected .unselected {
  display: none;
  
}

.tab-selected .selected {
  filter: brightness(0) saturate(100%) invert(68%) sepia(72%) saturate(4404%) hue-rotate(138deg) brightness(94%) contrast(98%);
  display: initial !important;
}

.selected {
  display: none;
  
}
.home{
  filter: brightness(0) saturate(100%) invert(35%) sepia(3%) saturate(23%) hue-rotate(32deg) brightness(99%) contrast(81%);
}