<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Home Tab -->
    <ion-tab-button tab="tab1"  class="icon" href="/tabs/tab1">
      <!-- <ion-icon name="home-outline" [class.active-tab]="selectedTab === 'tab2'"></ion-icon> -->
      <ion-img class="wishlist-icon"  src="assets/images/home.png" class="selected home"></ion-img>
      <ion-img class="wishlist-icon"  src="assets/images/home.png" class="unselected home"></ion-img>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2"  class="icon" href="/tabs/tab2">
      <!-- <ion-icon name="cube-outline" [class.active-tab]="selectedTab === 'tab2'"></ion-icon> -->
      <ion-img class="wishlist-icon" src="assets/images/orders.png"  class="selected"></ion-img>
      <ion-img class="wishlist-icon" src="assets/images/orders.png"  class="unselected"></ion-img>
      <ion-label>Orders</ion-label>
    </ion-tab-button>
    <!-- Shopping Bag Tab -->
    <ion-tab-button tab="tab3"  class="icon" href="/cart">
      <ion-img  class="wishlist-icon" src="assets/images/wishlist.png"  class="selected"> </ion-img>
      <ion-img  class="wishlist-icon" src="assets/images/wishlist.png" class="unselected"> </ion-img>
      <ion-label>Wishlist</ion-label>
    </ion-tab-button>

    <!-- User Tab -->
    <ion-tab-button tab="tab4"  class="icon" href="/tabs/tab4">
      <!-- <ion-icon name="person-outline" [class.active-tab]="selectedTab === 'tab4'"></ion-icon> -->
      <ion-img class="wishlist-icon" src="assets/images/profile.png"  class="selected"></ion-img>
      <ion-img class="wishlist-icon" src="assets/images/profile.png"  class="unselected"></ion-img>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>