<ion-header>
  <ion-toolbar>
    <ion-row class="location_section">
      <ion-col size="1"><ion-icon name="location-outline"></ion-icon></ion-col>
      <ion-col size="9" class="address" *ngIf="selectedAddress">
        <h1 class="capitalize" (click)="address()">{{ selectedAddress.type ? selectedAddress.type : 'Select Address'}} <ion-icon name="chevron-down-outline" class="down_arrow"></ion-icon></h1>
        <p>{{ selectedAddress.address  }}</p>
      </ion-col>
      <ion-col size="1" class="ion-text-end" style="margin-right: 2px;" [routerLink]="['/cart']">
        <ion-icon name="bag-handle-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar [routerLink]="['/search']"></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row class="align_center mb-10">
      <ion-col>
        <h1>{{ 'HOME.shopbycategory' | translate }}</h1>
      </ion-col>
      <ion-col class="ion-text-end see_all">
        <p [routerLink]="['/category']">{{ 'HOME.seeall' | translate }}</p>
      </ion-col>
    </ion-row>
    

    <ion-row>
      <ion-col size="4" *ngFor="let category of categories" (click)="navigateToCategory(category)">
        <ion-card class="item_card">
          <ion-img [src]="category.image ? category.image : 'assets/images/ovation_item6.png'"></ion-img>
          <ion-card-content>
            <p>{{ category.name }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-card class="promo-card">
      <ion-card-content>
        <h2>Boost Your Health with Premium Nutraceuticals!</h2>
        <ion-button expand="block" color="none" class="shop_btn" [routerLink]="['/category']">Shop Now</ion-button>
      </ion-card-content>
      <ion-img src="assets/images/ovation_item6.png"></ion-img>
    </ion-card>
    <ion-row class="align_center">
      <ion-col>
        <h1>{{ 'HOME.bestdeal' | translate }}</h1>
      </ion-col>
      <ion-col class="ion-text-end see_all">
        <p [routerLink]="['/bestdeal']">{{ 'HOME.seeall' | translate }}</p>
      </ion-col>
    </ion-row>
  
    <swiper-container class="mySwiper" slides-per-view="1.5" style="width: 100%;">
      <swiper-slide *ngFor="let item of randomItems">
        <ion-row class="best_deal_section">
          <ion-card class="product-card">
            <ion-card-header (click)="itemDetails(item.id,item)">
              <ion-img class="product-image" [src]="item.image || 'assets/images/milk.jpg'"></ion-img>
              <!-- <ion-icon name="heart" class="favorite-icon" [ngClass]="{ 'active': isInWishlist(item.id) }"
                  (click)="toggleWishlist(item.id)">
                </ion-icon> -->
            </ion-card-header>

            <ion-card-content>
              <h3 class="product-name">{{ item.name.length > 30 ? (item.name | slice:0:30) + '...' : item.name }}</h3>
              <!-- <p class="product-quantity">{{ item.quantity }}</p> -->
              <div class="price-container">
                <div class="price_div">
                  <span class="current-price">{{ 'Currency.currency' | translate }}{{ ((+item.price || 0) + ((+item.price || 0) * (+item.taxPercentage || 0) / 100))
                  | number:'1.2-2' }}</span>
                  <!-- <span class="old-price">{{ 'Currency.currency' | translate }}{{ item.mrp
                    }}</span> -->
                </div>
              </div>
              <!-- <div>
                    <ion-button fill="solid" color="none" size="small" expand="block"
                      (click)="addToCart(item)">Add</ion-button>
                  </div> -->
              <div class="counter_section" *ngIf="getItemQuantity(item.id) > 0; else addButton">
                <ion-button fill="solid" color="none" size="small" class="added_btn"
                  (click)="decrementItem(item.id)"><ion-icon name="remove-outline"></ion-icon></ion-button>
                <p>{{ getItemQuantity(item.id) }}</p>
                <ion-button fill="solid" color="none" size="small" class="added_btn"
                  (click)="incrementItem(item.id)"><ion-icon name="add-outline"></ion-icon></ion-button>
              </div>
              <ng-template #addButton>
                <div class="counter_section">
                  <ion-button fill="solid" color="none" size="small" expand="block" (click)="addToCart(item)">{{
                    'ItemDetails.add' |
                    translate
                    }}</ion-button>
                </div>
              </ng-template>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </swiper-slide>
    </swiper-container>


  </ion-grid>

</ion-content>

<ion-footer *ngIf="cartCount > 0">
  <ion-card class="cart-summary-card" [routerLink]="['/cart']">
    <ion-grid class="cart_grid">
      <ion-row class="align-center" style="display: flex; flex-wrap: nowrap;">
        <ion-col size="auto" class="card_img">
          <img src="assets/images/ovation_icon.png" alt="Product" class="product-image" />
        </ion-col>
        <ion-col class="ion-text-start">
          <p class="item-count">{{ cartCount }} Items</p>
          <p class="price">{{ 'Currency.currency' | translate }}{{orderTotal + tax | number:'1.2-2'}}</p>
        </ion-col>
        <ion-col class="ion-text-end"size="auto" class="view-cart">
          <ion-button fill="clear" class="view-cart-button">
            View Cart
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-footer>