<ion-content [fullscreen]="true">
  <ion-grid>
      <swiper-container class="mySwiper" slides-per-view="1" style="width: 100%;">
        <!-- Slide 1 -->
        <swiper-slide>
          <div class="slide-content">
            <!-- <img src="assets/grocery-1.png" alt="Buy Groceries" class="slide-image" /> -->
            <h2>Buy Groceries Easily with Us</h2>
            <p>It is a long established fact that a reader will be distracted by the readable.</p>
            <ion-button fill="clear" class="next-button" expand="block">
              <ion-icon slot="icon-only" name="arrow-forward-circle"></ion-icon>
            </ion-button>
          </div>
        </swiper-slide>
    
        <!-- Slide 2 -->
        <swiper-slide>
          <div class="slide-content">
            <!-- <img src="assets/grocery-2.png" alt="Deliver Grocery" class="slide-image" /> -->
            <h2>We Deliver Grocery at Your Doorstep</h2>
            <p>It is a long established fact that a reader will be distracted by the readable.</p>
            <ion-button fill="clear" class="next-button" expand="block">
              <ion-icon slot="icon-only" name="arrow-forward-circle"></ion-icon>
            </ion-button>
          </div>
        </swiper-slide>
        <!-- Slide 3 -->
        <swiper-slide>
          <div class="slide-content">
            <!-- <img src="assets/grocery-3.png" alt="Kitchen Needs" class="slide-image" /> -->
            <h2>All Your Kitchen Needs are Here</h2>
            <p>It is a long established fact that a reader will be distracted by the readable.</p>
            <ion-button fill="clear" class="next-button" expand="block">
              <ion-icon slot="icon-only" name="arrow-forward-circle"></ion-icon>
            </ion-button>
          </div>
        </swiper-slide>
      </swiper-container>
    
      <!-- Skip Button -->
      <ion-button fill="clear" class="skip-button">
        Skip <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

    

  </ion-grid>

</ion-content>
 