<ion-header>
  <ion-toolbar>
  <ion-row class="header">
    <ion-col class="ion-text-center">
      <ion-icon name="chevron-back-outline" [routerLink]="['/tabs/tab4']" class="ion-float-left"></ion-icon>
      <h1>{{ 'Profile.editprofile' | translate }}</h1>
    </ion-col>
  </ion-row>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <!-- Profile Image -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <!-- <div class="profile-image-container">
          <img src="assets/images/user_img.jpg" alt="Profile Picture" class="profile-image" />
          <ion-icon name="create-outline" class="edit-icon"></ion-icon>
        </div> -->
      </ion-col>
    </ion-row>

    <!-- Name Input -->
    <form class="editprofile">
      <!-- Name Input -->
      <ion-row class="topbottom_space">
        <ion-col size="12">
          <label class="input-label">Name</label>
          <div class="input-container">
            <ion-input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="Enter your name"
              (ionBlur)="validateName()"></ion-input>
          </div>
          <p *ngIf="nameError" class="error-text">{{ nameError }}</p>
        </ion-col>
      </ion-row>
    
      <!-- Email Input -->
      <ion-row class="topbottom_space">
        <ion-col size="12">
          <label class="input-label">Email Address</label>
          <div class="input-container">
            <ion-input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Enter your email"
              (ionBlur)="validateEmail()"></ion-input>
          </div>
          <p *ngIf="emailError" class="error-text">{{ emailError }}</p>
        </ion-col>
      </ion-row>
    
      <!-- Mobile Number Input -->
      <ion-row class="topbottom_space">
        <ion-col size="12">
          <label class="input-label">Contact Number</label>
          <div class="input-container">
            <ion-input type="tel" [(ngModel)]="contact" [ngModelOptions]="{standalone: true}" maxlength="10"
              placeholder="Enter your contact number" (ionBlur)="validateContact()"></ion-input>
          </div>
          <p *ngIf="contactError" class="error-text">{{ contactError }}</p>
        </ion-col>
      </ion-row>
    
      <!-- <ion-row class="topbottom_space">
            <ion-col size="12">
              <label class="input-label">Language</label>
              <div class="input-container">
                <ion-input type="tel" [(ngModel)]="contact" [ngModelOptions]="{standalone: true}" maxlength="10"
                  placeholder="Enter your contact number" (ionBlur)="validateContact()"></ion-input>
              </div>
            </ion-col>
          </ion-row> -->
    
      <!-- Update Button -->
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-button (click)="updateProfile()" color="none" [disabled]="isFormInvalid()">Update</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>