.background {
  --background: url(/assets/images/ovation_loginbg.png) 0 0/100% 100% no-repeat;
}
.header-image{
    height: 80px;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0px 0px 6px 0px;
    font-weight: 500;
  }
  
  p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 20px;
  }
  .help-msg{
    color: var(--ion-color-danger);
    // margin-left: 48px;
  }
  .div_align_center {
    // height:100%;
    // background-color: var(--ion-color-primary-contrast);
    overflow-y: scroll;
    height: 100%;
    display: flex;
    align-items: center;
  }
  ion-title {
    background-color: var(--ion-color-primary-contrast);
    color: #141313;
}
  .logo{
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
  }
  .img {
    width: 256px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  ion-input {
    min-height: 50px;
    padding-left: 10px !important;
    --highlight-color-focused : none;
  }
  .pass-input, .email-input{
    display: flex;
    border: 1px solid var(--ion-color-secondary-contrast);
    border-radius: 6px;
    align-items: center;
    margin-top: 6px;
  }
 
  ion-label {
      color: #000;
      font-size: 16px;
      font-weight: 500;
  }

  ion-input::placeholder {
      color: #000;
  }
  .sign_btn {
    background-color: var(--ion-color-primary) !important;
    // background-color: var( --ion-color-tasktutorial,#f03b3b);
    border-radius: 8px;
    width: 100%;
    --box-shadow: none;
    height: 50px;
    max-width: 100%;
  }