<ion-header>
  <ion-toolbar>
    <ion-row class="header">
      <ion-col size="12" class="d-flex align-center space-between">
        <ion-icon name="chevron-back-outline" [routerLink]="['/tabs/tab1']"></ion-icon>
        <ion-img *ngIf="isSearchActive" src="assets/images/sort.png" (click)="sortBy()"></ion-img>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="search_bar">
        <ion-searchbar #searchbar (ionInput)="onSearchInput($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
    <div *ngIf="isSearchActive == false">
      <!-- <ion-row>
        <ion-col size="12" class="mb-10 px-10">
          <h1>{{ 'Search.topsearch' | translate }}</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="recent_search">
          <ion-chip *ngFor="let item of topSearches" (click)="selectTopSearch(item)">
            {{ item }}
          </ion-chip>
        </ion-col>
      </ion-row> -->
      <ion-row *ngIf="recentSearches.length > 0">
        <ion-col size="9" class="mb-10">
          <h1>{{ 'Search.recentsearch' | translate }}</h1>
        </ion-col>
        <ion-col size="3" class="ion-text-end mb-10">
          <h1 class="clear" (click)="clearRecentSearches()">{{ 'Search.clear' | translate }}</h1>
        </ion-col>
      </ion-row>
      
      <ion-row *ngIf="recentSearches.length > 0">
        <ion-col size="12" class="recent_search">
          <ion-chip *ngFor="let item of recentSearches" (click)="selectSearch(item)">
            {{ item }}
          </ion-chip>
        </ion-col>
      </ion-row>
      <!-- Trending Now Section -->
      <ion-row>
        <ion-col size="12" class="mb-10 px-10 mt-10">
          <h1>{{ 'Search.trendingnow' | translate }}</h1>
        </ion-col>
      </ion-row>
      <swiper-container class="mySwiper" slides-per-view="1.5" style="width: 100%;">
        <swiper-slide  *ngFor="let item of randomItems">
          <ion-row class="best_deal_section">
            <ion-card class="product-card">
              <ion-card-header>
                <ion-img class="product-image" [src]="item.image || 'assets/images/item5.png'"></ion-img>
                <ion-icon [name]="isInWishlist(item.id) ? 'heart' : 'heart-outline'" [class.favorite-icon]="true"
                  [class.active]="isInWishlist(item.id)" (click)="toggleWishlist(item.id)">
                </ion-icon>
              </ion-card-header>
            
              <ion-card-content>
                <h3 class="product-name">{{ item .name.length > 30 ? (item .name | slice:0:30) + '...' : item .name }}</h3>
                <div class="price-container">
                  <div class="price_div">
                    <!-- <p class="product-quantity">500 ml</p> -->
                  </div>
                  <div class="price_value">
                    <p class="current-price">{{ 'Currency.currency' | translate }}{{ ((+item.price || 0) + ((+item.price || 0) * (+item.taxPercentage || 0) / 100))
                    | number:'1.0-0' }}</p>
                    <!-- <p class="old-price">{{ 'Currency.currency' | translate }}{{item.mrp}}</p> -->
                  </div>
                 
                </div>
                <!-- <div>
                  <ion-button fill="solid" color="none" size="small" expand="block">{{ 'ItemDetails.add' | translate }}</ion-button>
                </div> -->

                <div class="counter_section" *ngIf="getItemQuantity(item.id) > 0; else addButton">
                  <ion-button fill="solid" color="none" size="small" class="added_btn" (click)="decrementItem(item.id)"><ion-icon
                      name="remove-outline"></ion-icon></ion-button>
                  <p>{{ getItemQuantity(item.id) }}</p>
                  <ion-button fill="solid" color="none" size="small" class="added_btn" (click)="incrementItem(item.id)"><ion-icon
                      name="add-outline"></ion-icon></ion-button>
                </div>
                <ng-template #addButton>
                  <ion-button fill="solid" color="none" size="small" expand="block" (click)="addToCart(item)">{{ 'ItemDetails.add' |
                    translate
                    }}</ion-button>
                </ng-template>
                
              </ion-card-content>
            </ion-card>
            
          </ion-row>
        </swiper-slide>


        <!-- <swiper-slide>
          <ion-row class="best_deal_section">
            <ion-card class="product-card">
              <ion-card-header>
                <ion-img class="product-image" src="assets/images/item5.png"></ion-img>
                <ion-icon name="heart" class="favorite-icon" [ngClass]="{ 'active': isActive }" (click)="toggleFavorite()"></ion-icon>
              </ion-card-header>
            
              <ion-card-content>
                <h3 class="product-name">Surf Excel Easy Wash Detergent...</h3>
                <div class="price-container">
                  <div class="price_div">
                    <p class="product-quantity">500 ml</p>
                  </div>
                  <div class="price_value">
                    <p class="current-price">{{ 'Currency.currency' | translate }}12</p>
                    <p class="old-price">{{ 'Currency.currency' | translate }}14</p>
                  </div>
                </div>
                <div>
                  <ion-button fill="solid" color="none" size="small" expand="block">{{ 'ItemDetails.add' | translate }}</ion-button>
                </div>
                
              </ion-card-content>
            </ion-card>
            
          </ion-row>
        </swiper-slide> -->
      </swiper-container>
    </div>


    <!-- <div *ngIf="isSearchActive == true">
      <ion-row><ion-col class="mb-10 px-10"><h1>{{ 'Search.showingresultfor' | translate }} "Atta"</h1></ion-col></ion-row>

        <ion-row class="search_pro">
          <ion-col size="6">
            <ion-card class="product-card">
              <ion-card-header>
                <ion-img class="product-image" src="assets/images/item8.jpg"></ion-img>
                <ion-icon name="heart" class="favorite-icon" [ngClass]="{ 'active': isActive }" (click)="toggleFavorite()"></ion-icon>
              </ion-card-header>
            
              <ion-card-content>
                <h3 class="product-name">Aashirvaad Atta</h3>
                <div class="price-container">
                  <div class="price_div">
                    <p class="product-quantity">500 g</p>
                  </div>
                  <div class="price_value">
                    <p class="current-price">{{ 'Currency.currency' | translate }}12</p>
                    <p class="old-price">{{ 'Currency.currency' | translate }}14</p>
                  </div>
                </div>
                <div>
                  <ion-button fill="solid" color="none" size="small" expand="block">{{ 'ItemDetails.add' | translate }}</ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card class="product-card">
              <ion-card-header>
                <ion-img class="product-image" src="assets/images/item3.png"></ion-img>
                <ion-icon name="heart" class="favorite-icon" [ngClass]="{ 'active': isActive }" (click)="toggleFavorite()"></ion-icon>
              </ion-card-header>
            
              <ion-card-content>
                <h3 class="product-name">Hybrid Tomato (Tamatar)</h3>
                <div class="price-container">
                  <div class="price_div">
                    <p class="product-quantity">500 g</p>
                  </div>
                  <div class="price_value">
                    <p class="current-price">{{ 'Currency.currency' | translate }}12</p>
                    <p class="old-price">{{ 'Currency.currency' | translate }}14</p>
                  </div>
                </div>
                <div>
                  <ion-button fill="solid" color="none" size="small" expand="block">{{ 'ItemDetails.add' | translate }}</ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card class="product-card">
              <ion-card-header>
                <ion-img class="product-image" src="assets/images/item3.png"></ion-img>
                <ion-icon name="heart" class="favorite-icon" [ngClass]="{ 'active': isActive }" (click)="toggleFavorite()"></ion-icon>
              </ion-card-header>
            
              <ion-card-content>
                <h3 class="product-name">Hybrid Tomato (Tamatar)</h3>
                <div class="price-container">
                  <div class="price_div">
                    <p class="product-quantity">500 g</p>
                  </div>
                  <div class="price_value">
                    <p class="current-price">{{ 'Currency.currency' | translate }}12</p>
                    <p class="old-price">{{ 'Currency.currency' | translate }}14</p>
                  </div>
                </div>
                <div>
                  <ion-button fill="solid" color="none" size="small" expand="block">{{ 'ItemDetails.add' | translate }}</ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card class="product-card">
              <ion-card-header>
                <ion-img class="product-image" src="assets/images/milk.jpg"></ion-img>
                <ion-icon name="heart" class="favorite-icon" [ngClass]="{ 'active': isActive }" (click)="toggleFavorite()"></ion-icon>
              </ion-card-header>
            
              <ion-card-content>
                <h3 class="product-name">Milk</h3>
                <div class="price-container">
                  <div class="price_div">
                    <p class="product-quantity">1 L</p>
                   
                  </div>
                  <div class="price_value">
                    <p class="current-price">{{ 'Currency.currency' | translate }}63</p>
                    <p class="old-price">{{ 'Currency.currency' | translate }}68</p>
                  </div>
                </div>
                <div class="counter_section">
                  <ion-button fill="solid" color="none" size="small" class="added_btn"><ion-icon name="remove-outline"></ion-icon></ion-button>
                  <p>1</p>
                  <ion-button fill="solid" color="none" size="small" class="added_btn"><ion-icon name="add-outline"></ion-icon></ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
  
    </div> -->

    <div *ngIf="isSearchActive">
      <ion-row>
        <ion-col class="mb-10 px-10">
          <h1>{{ 'Search.showingresultfor' | translate }} "{{ searchbar.value }}"</h1>
        </ion-col>
      </ion-row>
    
      <ion-row class="search_pro">
        <ion-col size="6" *ngFor="let item of filteredItems">
          <ion-card class="product-card">
            <ion-card-header>
              <ion-img class="product-image" [src]="item.image || 'assets/images/milk.jpg'"></ion-img>
              <ion-icon [name]="isInWishlist(item.id) ? 'heart' : 'heart-outline'" [class.favorite-icon]="true"
                [class.active]="isInWishlist(item.id)" (click)="toggleWishlist(item.id)">
              </ion-icon>
            </ion-card-header>
    
            <ion-card-content>
              <h3 class="product-name">{{ item.name.length > 30 ? (item.name | slice:0:30) + '...' : item.name }}</h3>
              <div class="price-container">
                <div class="price_div">
                  <p class="product-quantity">{{ item.quantity }}</p>
                </div>
                <div class="price_value">
                  <p class="current-price">{{ 'Currency.currency' | translate }}{{ ((+item.price || 0) + ((+item.price || 0) * (+item.taxPercentage || 0) / 100))
                  | number:'1.0-0' }}</p>
                  <p class="old-price">{{ 'Currency.currency' | translate }}{{ item.mrp }}</p>
                </div>
              </div>
              <!-- <div>
                <ion-button fill="solid" color="none" size="small" expand="block">
                  {{ 'ItemDetails.add' | translate }}
                </ion-button>
              </div> -->
              <div class="counter_section" *ngIf="getItemQuantity(item.id) > 0; else addButton">
                <ion-button fill="solid" color="none" size="small" class="added_btn" (click)="decrementItem(item.id)"><ion-icon
                    name="remove-outline"></ion-icon></ion-button>
                <p>{{ getItemQuantity(item.id) }}</p>
                <ion-button fill="solid" color="none" size="small" class="added_btn" (click)="incrementItem(item.id)"><ion-icon
                    name="add-outline"></ion-icon></ion-button>
              </div>
              <ng-template #addButton>
                <div class="counter_section">
                  <ion-button fill="solid" color="none" size="small" expand="block" (click)="addToCart(item)">{{ 'ItemDetails.add' |
                    translate
                    }}</ion-button>
                </div>
              </ng-template>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>
</ion-content>
<ion-footer *ngIf="cartCount > 0">
  <ion-card class="cart-summary-card" [routerLink]="['/cart']">
    <ion-grid>
      <ion-row class="align-center">
        <ion-col size="auto" class="card_img">
          <img src="assets/images/ovation_icon.png" alt="Product" class="product-image" />
        </ion-col>
        <ion-col class="ion-text-start">
          <p class="item-count">{{ cartCount }} Items</p>
          <p class="price">{{ 'Currency.currency' | translate }} {{orderTotal + tax | number:'1.0-0'}}</p>
        </ion-col>
        <ion-col size="auto" class="view-cart">
          <ion-button fill="clear" class="view-cart-button">
            View Cart
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-footer>