<ion-header>
  <ion-toolbar>
  <ion-row class="header">
    <ion-col class="ion-text-center">
      <ion-icon name="chevron-back-outline" [routerLink]="['/category']" class="ion-float-left"></ion-icon>
      <h1>{{ 'ItemDetails.itemdetails' | translate }}</h1>
      <!-- <ion-icon name="heart" class="like"></ion-icon> -->
      <ion-icon name="bag-handle-outline" [routerLink]="['/cart']"></ion-icon>
    </ion-col>
  </ion-row>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <swiper-container  slides-per-view="1" style="width: 100%;" pagination="true">
        <swiper-slide>
          <ion-col class="slider-item">
            <ion-img [src]="image || 'assets/images/milk.jpg'"></ion-img>
          </ion-col>
        </swiper-slide>
        <swiper-slide>
          <ion-col class="slider-item">
            <ion-img [src]="image || 'assets/images/milk.jpg'"></ion-img>
          </ion-col>
        </swiper-slide>
        <swiper-slide>
          <ion-col class="slider-item">
            <ion-img [src]="image || 'assets/images/milk.jpg'"></ion-img>
          </ion-col>
        </swiper-slide>
      </swiper-container>
    </ion-row>
    <ion-row>
      <h2>{{name}}</h2>
    </ion-row>
    <!-- <ion-row class="rating">
      <ion-icon name="star" class="selected"></ion-icon>
      <ion-icon name="star" class="selected"></ion-icon>
      <ion-icon name="star" class="selected"></ion-icon>
      <ion-icon name="star" class="selected"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <p>4.0 (146 {{ 'ItemDetails.reviews' | translate }})</p>
    
    </ion-row> -->
    <ion-row class="price">  
      <ion-col class="price_col">
        <span class="current-price">{{ 'Currency.currency' | translate }}{{ ((+price || 0) + ((+price || 0) * (+taxPercentage || 0) / 100))
        | number:'1.2-2' }}</span>
        <!-- <span class="old-price">{{ 'Currency.currency' | translate }} {{mrp}}</span> -->
        <!-- <ion-chip>10% OFF</ion-chip> -->
        <ion-chip *ngIf="calculateDiscountPercentage(mrp, price) > 0">
          {{ calculateDiscountPercentage(mrp, price) }}% OFF
        </ion-chip>
      </ion-col>
    </ion-row>
    <!-- <ion-row class="item_details"><p>{{description}}<span>Read More</span></p></ion-row> -->
    <ion-row *ngIf="description"><h4>Description</h4></ion-row>
    <ion-row *ngIf="description" class="item_details"><p>{{description}}</p></ion-row>
    <!-- <ion-row>
      <h2>{{ 'ItemDetails.reviewsandratings' | translate }}</h2>
    </ion-row>
    <ion-row>
      <ion-col size="2" class="reviews_data">
        <h2>4.2</h2>
      </ion-col>
      <ion-col class="rating_data">
        <ion-icon name="star" class="selected"></ion-icon>
        <ion-icon name="star" class="selected"></ion-icon>
        <ion-icon name="star" class="selected"></ion-icon>
        <ion-icon name="star" class="selected"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <p>146 {{ 'ItemDetails.reviews' | translate }}</p>
      </ion-col>
    </ion-row>
    <ion-row class="review_section">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-img src="" alt="User Avatar" class="default"></ion-img>
        </ion-avatar>
        <ion-label class="user_data">
          <h2>Johnson Smith</h2>
          <p>April 10, 2023</p>
        </ion-label>
        <ion-icon name="star" class="selected"></ion-icon>
        <ion-icon name="star" class="selected"></ion-icon>
        <ion-icon name="star" class="selected"></ion-icon>
        <ion-icon name="star" class="selected"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </ion-item>
    
      <ion-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
        <div class="review-images">
          <ion-img src="assets/images/item_6.png" alt="Review Image 1" ></ion-img>
          <ion-img src="assets/images/item_6.png" alt="Review Image 2"></ion-img>
        </div>
      </ion-card-content>
    </ion-row> -->
    <ion-row>
      <h2>{{ 'ItemDetails.similarproducts' | translate }}</h2>
    </ion-row>
    <ion-row>
      
      <swiper-container class="mySwiper" slides-per-view="1.5" style="width: 100%;">
        <swiper-slide *ngFor="let item of filteredItems">
          <ion-row class="best_deal_section">
            <ion-card class="product-card">
              <ion-card-header>
                <ion-img class="product-image" [src]="item.image || 'assets/images/milk.jpg'"  (click)="itemDetails(item.id,item)"></ion-img>
                <!-- <ion-icon name="heart" class="favorite-icon" [ngClass]="{ 'active': isInWishlist(item.id) }"
                        (click)="toggleWishlist(item.id)">
                      </ion-icon> -->
              </ion-card-header>
      
              <ion-card-content>
                <h3 class="product-name">{{ item.name.length > 30 ? (item.name | slice:0:30) + '...' : item.name }}</h3>
                <!-- <p class="product-quantity">{{ item.quantity }}</p> -->
                <div class="price-container">
                  <!-- <div class="price_div">
                    <p class="product-quantity">1 L</p>
      
                  </div> -->
                  <div class="price_value">
                    <p class="current-price">{{ 'Currency.currency' | translate }}{{item.price | number:'1.2-2' }}</p>
                    <!-- <p class="old-price">{{ 'Currency.currency' | translate }}{{item.price}}</p> -->
                  </div>
                </div>
                <!-- <div>
                          <ion-button fill="solid" color="none" size="small" expand="block"
                            (click)="addToCart(item)">Add</ion-button>
                        </div> -->
                <div class="counter_section" *ngIf="getItemQuantity(item.id) > 0; else addButton">
                  <ion-button fill="solid" color="none" size="small" class="added_btn"
                    (click)="decrementItem(item.id)"><ion-icon name="remove-outline"></ion-icon></ion-button>
                  <p>{{ getItemQuantity(item.id) }}</p>
                  <ion-button fill="solid" color="none" size="small" class="added_btn"
                    (click)="incrementItem(item.id)"><ion-icon name="add-outline"></ion-icon></ion-button>
                </div>
                <ng-template #addButton>
                  <div class="counter_section">
                    <ion-button fill="solid" color="none" size="small" expand="block" (click)="addToCart(item)">{{
                      'ItemDetails.add' |
                      translate
                      }}</ion-button>
                  </div>
                </ng-template>
              </ion-card-content>
            </ion-card>
          </ion-row>
        </swiper-slide>
      </swiper-container>
    </ion-row>
    
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row class="align-center static_footer">
    <!-- Quantity Control -->
    <!-- <ion-col size="4" class="quantity-control">
      <ion-button fill="clear" color="none">
        <ion-icon name="remove-outline"></ion-icon>
      </ion-button>
      <span class="quantity">1</span>
      <ion-button fill="clear" color="none">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-col> -->
    <ion-col size="6">
      <p class="current-price" style="margin: 0;">{{ 'Currency.currency' | translate }}{{ ((+price || 0) + ((+price || 0) * (+taxPercentage || 0) / 100))
        | number:'1.2-2' }}</p>
      <!-- <span class="old-price">{{ 'Currency.currency' | translate }} {{mrp}}</span> -->
      <!-- <ion-chip>10% OFF</ion-chip> -->
      <!-- <ion-chip *ngIf="calculateDiscountPercentage(mrp, price) > 0">
        {{ calculateDiscountPercentage(mrp, price) }}% OFF
      </ion-chip> -->
    </ion-col>

    <!-- Add to Cart Button -->
    <ion-col size="6" class="add-to-cart" *ngIf="getItemQuantity(itemDetail.id) == 0">
      <ion-button expand="block" class="add-cart-button" (click)="addToCart(itemDetail)">
        {{ 'ItemDetails.addtocart' | translate }}
        <!-- <span class="price-divider"></span>
        <span class="amount">{{ 'Currency.currency' | translate }}</span> -->
      </ion-button>
    </ion-col>
    <ion-col size="6" class="quantity-control" *ngIf="getItemQuantity(itemDetail.id) > 0">
      <ion-button fill="clear" color="none" (click)="decrementItem(itemDetail.id)">
        <ion-icon name="remove-outline"></ion-icon>
      </ion-button>
      <span class="quantity">{{ getItemQuantity(itemDetail.id) }}</span>
      <ion-button fill="clear" color="none" (click)="incrementItem(itemDetail.id)">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>