<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"  [routerLink]="['/tabs/tab2']">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Order #181838970207518</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="order-container">
    <div class="order-summary">
      <p>Delivered, 1 Item, ₹299</p>
    </div>

    <div class="address-section">
      <ion-icon name="location-outline" color="medium"></ion-icon>
      <div>
        <strong>Home</strong><br />
        6391 Celina, Delaware 1099
      </div>
    </div>

    <div class="bill-details">
      <h3>Bill Details</h3>
      <div class="bill-item item_name">
        <div>Neutraceuticals</div>
        <div>₹299.00</div>
      </div>
      <div class="bill-item">
        <div>Item Total</div>
        <div>₹299.00</div>
      </div>
      <div class="bill-item">
        <div>Delivery Fee</div>
        <div class="free">FREE</div>
      </div>
      <div class="bill-item">
        <div>Taxes</div>
        <div>₹10.41</div>
      </div>
      <div class="bill-item total">
        <div>Bill Total</div>
        <div>₹309.41</div>
      </div>
    </div>

    <ion-button expand="block" color="none" class="reOrder">Reorder</ion-button>
  </div>
</ion-content>
