<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"  [routerLink]="['/tabs/tab2']">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>#{{orderno}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="order-container">
    <div class="order-summary">
      <p>{{orderStatus}}, {{itemCount}} Items, ₹ {{total}}</p>
    </div>

    <div class="address-section">
      <!-- <ion-icon name="location-outline" color="medium"></ion-icon> -->
      <div>
        <strong>Address:</strong><br />
        {{address}}
      </div>
    </div>

    <ion-row class="progress-bar-container">
      <ion-col class="step"
        [ngClass]="{'active': orderStatus == 'placed' || orderStatus == 'accepted' || orderStatus == 'shipped' || orderStatus == 'delivered'}">
        <div class="circle"></div>
        <p>Placed</p>
      </ion-col>
      <ion-col class="step"
        [ngClass]="{'active': orderStatus == 'accepted' || orderStatus == 'shipped' || orderStatus == 'delivered'}">
        <div class="circle"></div>
        <p>Accepted</p>
      </ion-col>
      <ion-col class="step" [ngClass]="{'active': orderStatus == 'shipped' || orderStatus == 'delivered'}">
        <div class="circle"></div>
        <p>Shipped</p>
      </ion-col>
      <ion-col class="step" [ngClass]="{'active': orderStatus == 'delivered'}">
        <div class="circle"></div>
        <p>Delivered</p>
      </ion-col>
    </ion-row>

    <div class="bill-details">
      <h3>Bill Details</h3>
      <div class="bill-item item_name" *ngFor="let order of orderdetails.items">
        <div class="itemname">{{order.name}} X {{order.amount}}</div>
        <div class="ion-text-end">₹ {{+order.total + +order.tax}}</div>
      </div>
      <div class="bill-item">
        <div class="itemname">Item Total</div>
        <div>₹{{+total+ +tax}}</div>
      </div>
      <div class="bill-item">
        <div class="itemname">Delivery Fee</div>
        <div class="free">FREE</div>
      </div>
      <!-- <div class="bill-item">
        <div>Taxes</div>
        <div>₹ 0.00</div>
      </div> -->
      <div class="bill-item total">
        <div class="itemname">Bill Total</div>
        <div>₹{{+total+ +tax}}</div>
      </div>
    </div>

    <ion-button expand="block" color="none" class="reOrder" [routerLink]="['/tabs/tab1']">Continue Shopping</ion-button>
  </div>
</ion-content>
