h1{
    font-size: 18px;
    // margin: 0px;
    font-weight: 600;
}
.heading{
    border-bottom: 1px solid #F5F6F5;
}
h2{
    font-size: 18px;
    margin: 0px;
    font-weight: 400;
}
.filters{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filters ion-icon{
    zoom: 1.6;
    color: #c4c6c4;
}
.filters ion-icon.check{

    color: #5AC268 !important;
}
.filters_row{
    gap: 10px;
    margin-top: 10px;
}
