<ion-content>
  <ion-grid>
    <ion-row class="heading">
      <ion-col><h1>Sort By</h1></ion-col>
    </ion-row>
    <ion-row class="filters_row">
      <ion-col size="12" class="filters">
        <h2>Relevance</h2><ion-icon name="checkmark-circle-outline" class="check"></ion-icon>
      </ion-col>
      <ion-col size="12" class="filters">
        <h2>Popularity</h2><ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
      <ion-col size="12" class="filters">
        <h2>Price: Low to High</h2><ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
          
</ion-content>